# rename this file to Makefile.local to take effect

# JAVA_HOME variable should be properly defined

# Linux - Fedora
#JAVA_HOME		=/etc/alternatives/java_sdk/

# Linux - Arch Linux
#JAVA_HOME		=/usr/lib/jvm/java-7-openjdk

# Mac OS X
#JAVA_HOME		=/Library/Java/JavaVirtualMachines/jdk1.7.0_10.jdk/Contents/Home/
